---
title: Novità
sidebar: home_sidebar
keywords: news, blog, updates, release notes, announcements
permalink: it_news_archive.html
toc: false
folder: news
ref: arch_news
lang: it
langNow: it
---

<div class="home">

    <div class="post-list">


    <section id="archive">
        <h3>Gli articoli di quest'anno:</h3>
        {%for post in site.posts %}
        {% unless post.next %}
        <ul class="this">
            {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
        </ul>
        <h3>{{ post.date | date: '%Y' }}</h3>
        <ul class="past">
            {% endif %}
            {% endunless %}
            <li><time>{{ post.date | date:"%d %b" }}</time><a href="{{ post.url | remove: "/"}}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    </div>
</div>
